.box{
    width: 100%;height:100%;display: flex;flex-direction: column;
}
.head{
    height: 45px;width:100%;background: blue;color: #fff;position: relative;line-height: 45px;
}
.head span{
    padding-left: 40px;font-size: 14px;
}
.icon-xiangzuo{
    position: absolute;left:10px;top:0;font-size: 12px;
}
.list{
    width:100%;height:auto;
}
.sec{
    flex:1;overflow-y: scroll;
}
.ll{
    height: 30px;width:100%;position: relative;
}
.icon-chevron-thin-right{
    position: absolute;right: 15px;top: 2px;
}
