.ll{
    margin: 0 auto;width:90%;height: auto;
}
.divs{
    width: 100%;margin-top: 10px;
}
.divs p:nth-child(1){
    line-height: 30px;background: skyblue;border-radius: 10px 10px 0 0;padding-left:10px;
}
.divs p:nth-child(2){
    line-height: 30px;border-radius: 0px 0px 10px 10px;background: #fff;padding-left:10px;position: relative;
}
.icon-guanbi-01{
    position: absolute;right: 15px;top:0;
}